html,body {
    min-height: 100%;
}
body {
  overflow-y:hidden;
}
.hidden {
    display: none !important;
}
.container-fluid {
    margin-top: 5px;
    margin-bottom: 5px;
}
form.form-inline > * {
    margin-right: 5px;
}

.time {
    font-family: monospace;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0px;
}