@using System.Net
@using Newtonsoft.Json
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MeetingRoomCalendar.AppSettings
@{
    ViewData["Title"] = $"{ViewData["MailBox"]}";
}
@section script
{
    <script>
        var calendarMailbox = "@ViewData["MailBox"]";
    </script>    
    <script src="~/Calendar.js"></script>
}
@section header {
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 text-left"><h1 class="title">@ViewData["Title"]</h1></div>
            <div class="col-4 text-right"><p id="time" class="h1 time"></p></div>
        </div>
    </div>
}
@section footer {
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-8 text-left">
                    <form id="new_meeting" class="form-inline hidden">
                        <label for="new_meeting_duration" class="sr-only">Varighed </label>
                        <select id="new_meeting_duration" class="form-control" disabled="disabled">
                            <option value="30">30 minutter</option>
                            <option value="60" selected="selected">1 time</option>
                            <option value="90">1,5 time</option>
                            <option value="120">2 timer</option>
                        </select>
                        <button id="new_meeting_create" type="button" class="btn btn-primary" onclick="createNewMeeting()" disabled="disabled">Opret ad-hoc møde</button>
                        <span id="new_meeting_status"></span>
                    </form>
                </div>
                <div class="col-4 text-right">
                    <button id="reload_button" type="button" class="btn" onclick="loadCalendar()">Opdater</button>
                </div>
            </div>
            <div class="row">
                <div id="latest_update" class="col-6 text-left"></div>
                <div id="update_status" class="col-6 text-right">Opdaterer ...</div>
            </div>
        </div>
    </footer>
}
    <div class="container-fluid">
        <table id="calendar" class="table table-bordered">
            <colgroup>
                <col style="width: 10%;" />
                <col style="width: 10%;" />
                <col style="width: 50%;" />
                <col style="width: 20%;" />
                <col style="width: 10%;" />
            </colgroup>
            <thead><tr><th>Start</th><th>Slut</th><th>Emne</th><th colspan="2">Arrangør</th></tr></thead>
            <tbody><tr><td colspan="5">Kalender ikke indlæst</td></tr></tbody>
        </table>
    </div>
