@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MeetingRoomCalendar.AppSettings
@{
    ViewData["Title"] = "Meeting Room Calendars";
}
@section header {
    <div class="container-fluid"><h1 class="title">@ViewData["Title"]</h1></div>
}

<div class="container">
    @foreach (var mb in Model.MeetingRoomMailboxes)
    { <a class="btn btn-primary btn-lg" href="calendar/@mb.Key" role="button">@mb.Value</a>}
</div>
